@import "fonts.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: "Montserrat";
}

/* header */

.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background: #282828;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px 0;
}
.header__list{
    display: flex;
    column-gap: 30px;
}
.header__link{
    font-weight: 700;
    color: #fff;
}
.header__menu{
    column-gap: 30px;
    display: flex;
    align-items: center;
}
.header__right{
    margin-right: 20px;
}

/* main-intro */

.main__container{
    max-width: 1600px;
    width: 100%;
    height: 700px;
    background: url(../image/Header.png) no-repeat center / cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1{
    width: 663px;
    height: 75px;
    font-weight: 400;
    font-size: 100px;
    line-height: 75px;
    color: #FFFFFF;
    margin: 0 auto;
}
.intro__site{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin-top: 40px;
}
.title2{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #171718;
}
.img{
    margin-left: 11px;
}

/* section__info */

.section__info-content{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background: #151414;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__info-title{
    width: 538px;
    height: 135px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-right: 30px;
}

.section__info-img2{
    max-width: 457px;
    width: 100%;
    height: 408px;
    margin: 50px 87px 50px 0;
}
.section__info-title2{
    max-width: 540px;
    width: 100%;
    height: 107px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}
.section__info-title3{
    max-width: 333px;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

/* main__bottom */

.bottom-content{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background: #151414;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 255px;
    height: 312px;
    background: #ffff;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 55px;
    margin-right: 30px;
    margin-top: 70px;
}
.card__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}
.card__img{
    object-fit: contain;
    margin-bottom: 10px;
}
.card__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.card__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 7px 57px;
    background: #151515;
    margin-top: 20px;
}

/* footer */

.footer-content{
    max-width: 1600px;
    width: 100%;
    height: 215px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-list{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.footer__link{
    width: 50px;
    height: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-right{
    display: flex;
    column-gap: 30px;
}